
        <main>


            <div class="gearteam-header-content">
                <div class="name-list-product">
                    <div class="navbar-menu-product">
                        <ul class="list-index-product">
                            <li class="item-index">
                                <div class="arrow-right"></div>
                                <i class="fa-solid fa-laptop margin-right-5"></i>
                                <span class="item-index-text">Laptop Gaming</span>
                                <div class="i-menucontent">
                                    <ul class="row">
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Dell</h3>
                                            <a href="">Dell Gaming G</a>
                                            <a href="">Alienware</a>
                    
                                        </li>
                                        <li class="col-5">
                                            <h3>Gigabyte</h3>
                                            <a href="">G5</a>
                                            <a href="">Aorus</a>
                                            <a href="">Aero</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item-index">
                                <div class="arrow-right"></div>
                                <i class="fa-solid fa-laptop margin-right-5"></i>
                                <span class="item-index-text">PC - Máy tính bộ</span>
                                <div class="i-menucontent">
                                    <ul class="row">
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Dell</h3>
                                            <a href="">Dell Gaming G</a>
                                            <a href="">Alienware</a>
                    
                                        </li>
                                        <li class="col-5">
                                            <h3>Gigabyte</h3>
                                            <a href="">G5</a>
                                            <a href="">Aorus</a>
                                            <a href="">Aero</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item-index">
                                <div class="arrow-right"></div>
                                <i class="fa-solid fa-laptop margin-right-5"></i>
                                <span class="item-index-text">PC - Màn hình máy tính</span>
                                <div class="i-menucontent">
                                    <ul class="row">
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Dell</h3>
                                            <a href="">Dell Gaming G</a>
                                            <a href="">Alienware</a>
                    
                                        </li>
                                        <li class="col-5">
                                            <h3>Gigabyte</h3>
                                            <a href="">G5</a>
                                            <a href="">Aorus</a>
                                            <a href="">Aero</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item-index">
                                <div class="arrow-right"></div>
                                <i class="fa-solid fa-laptop margin-right-5"></i>
                                <span class="item-index-text">PC - Linh kiện máy tính</span>
                                <div class="i-menucontent">
                                    <ul class="row">
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Dell</h3>
                                            <a href="">Dell Gaming G</a>
                                            <a href="">Alienware</a>
                    
                                        </li>
                                        <li class="col-5">
                                            <h3>Gigabyte</h3>
                                            <a href="">G5</a>
                                            <a href="">Aorus</a>
                                            <a href="">Aero</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item-index">
                                <div class="arrow-right"></div>
                                <i class="fa-solid fa-laptop margin-right-5"></i>
                                <span class="item-index-text">PC - Phụ kiện</span>
                                <div class="i-menucontent">
                                    <ul class="row">
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Dell</h3>
                                            <a href="">Dell Gaming G</a>
                                            <a href="">Alienware</a>
                    
                                        </li>
                                        <li class="col-5">
                                            <h3>Gigabyte</h3>
                                            <a href="">G5</a>
                                            <a href="">Aorus</a>
                                            <a href="">Aero</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="gearteam-header-navigation">
                    <div class="carousel-inner">
                         <div class="slider owl-carousel owl-theme">
                            <div class="item-nav">
                                <a href="">
                                    <img src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_1.jpg?v=28822" alt="">
                                </a>
                            </div>
                            <div class="item-nav">
                                <a href="">
                                    <img src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_1.jpg?v=29542" alt="">
                                </a>
                            </div>
                            <div class="item-nav">
                                <a href="">
                                    <img src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_5.jpg?v=29542" alt="">
                                </a>
                            </div>
                            <div class="item-nav">
                                <a href="">
                                    <img src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_4.jpg?v=29542" alt="">
                                </a>
                            </div>
                            <div class="item-nav">
                                <a href="">
                                    <img src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_10.jpg?v=29542" alt="">
                                </a>
                            </div>
                            <div class="item-nav">
                                <a href="">
                                    <img src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_12.jpg?v=29542" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="gearteam-body-content">
                <div class="list-body-content">
                    <ul class="list-content">
                        <li class="item-content">
                            <h2>PC GEARTEAM - MIỄN PHÍ GIAO HÀNG TOÀN QUỐC</h2>
                            <ul class="row item-product ">
                                {{#each courses1}}
                                        <li class="col-5-1" key={{this._id}}>
                                            <a href="http://localhost:3000/{{this._id}}" >
                                            <img src="{{this.img}}" alt="">
                                            <div class="item-price">

                                                <h4>{{this.name}}</h4>
                                                <h3>{{this.price}}đ</h3>
                                            </div>
                                            </a>
                                        </li>
                                    
                
                                {{/each}}
                                {{!-- <li class="col-5-1">
                                    <img src="https://product.hstatic.net/1000026716/product/1_de3a14a8969c433fbe31ed9ddee5997f_large.jpg" alt="">
                                    <div class="item-price">

                                        <h4>GTN Viper</h4>
                                        <h3>2,452,369đ</h3>
                                    </div>
                                </li>
                                <li class="col-5-1">
                                    <img src="https://product.hstatic.net/1000026716/product/1_de3a14a8969c433fbe31ed9ddee5997f_large.jpg" alt="">
                                    <div class="item-price">

                                        <h4>GTN Viper</h4>
                                        <h3>2,452,369đ</h3>
                                    </div>
                                </li>
                                <li class="col-5-1">
                                    <img src="https://product.hstatic.net/1000026716/product/1_de3a14a8969c433fbe31ed9ddee5997f_large.jpg" alt="">
                                    <div class="item-price">

                                        <h4>GTN Viper</h4>
                                        <h3>2,452,369đ</h3>
                                    </div>
                                </li>
                                <li class="col-5-1">
                                    <img src="https://product.hstatic.net/1000026716/product/1_de3a14a8969c433fbe31ed9ddee5997f_large.jpg" alt="">
                                    <div class="item-price">

                                        <h4>GTN Viper</h4>
                                        <h3>2,452,369đ</h3>
                                    </div>
                                </li>
                                <li class="col-5-1">
                                    <img src="https://product.hstatic.net/1000026716/product/1_de3a14a8969c433fbe31ed9ddee5997f_large.jpg" alt="">
                                    <div class="item-price">

                                        <h4>GTN Viper</h4>
                                        <h3>2,452,369đ</h3>
                                    </div>
                                </li> --}}
                            </ul>
                        </li>
                        <li class="item-content">
                            <h2>PC GEARTEAM - MIỄN PHÍ GIAO HÀNG TOÀN QUỐC</h2>
                            <ul class="row item-product">
                                {{#each courses2}}
                                <li class="col-5-1">
                                            <a href="http://localhost:3000/{{this._id}}" >
                                            <img src="{{this.img}}" alt="">
                                            <div class="item-price">

                                                <h4>{{this.name}}</h4>
                                                <h3>{{this.price}}đ</h3>
                                            </div>
                                            </a>
                                        </li>
                  
                                {{/each}}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- hot -->

        </main>
